 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
 html,
 body,
 div,
 span,
 applet,
 object,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 a,
 abbr,
 acronym,
 address,
 big,
 cite,
 code,
 del,
 dfn,
 em,
 img,
 ins,
 kbd,
 q,
 s,
 samp,
 small,
 strike,
 sub,
 sup,
 tt,
 var,
 b,
 u,
 i,
 center,
 dl,
 dt,
 dd,
 ol,
 ul,
 li,
 fieldset,
 form,
 label,
 legend,
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td,
 article,
 aside,
 canvas,
 details,
 embed,
 figure,
 figcaption,
 footer,
 header,
 hgroup,
 menu,
 nav,
 output,
 ruby,
 section,
 summary,
 time,
 mark,
 audio,
 video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 menu,
 nav,
 section {
     display: block;
 }
 
 body {
     line-height: 1;
 }
 
 ol,
 ul {
     list-style: none;
 }
 
 blockquote,
 q {
     quotes: none;
 }
 
 blockquote:before,
 blockquote:after,
 q:before,
 q:after {
     content: '';
     content: none;
 }
 
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }
 /* --------------------------------css reset ends here------------------------------------ */
 
 *,
 *::before,
 *::after {
     box-sizing: border-box;
 }
 
 body {
     font-size: 18px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.5;
     background-color: rgb(230, 230, 230);
 }
 
 .container {
     max-width: 1300px;
     margin: 0 auto;
     padding: 0 32px;
 }
 
 .container_head {
     max-width: 1100px;
     margin: 0 auto;
     padding: 0 32px;
 }
 
 .flex {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 a {
     text-decoration: none;
     color: black;
 }
 /* ---------------------header--------------------------- */
 
 .header {
     background: white;
     padding: 15px 40px;
 }
 
 h1 {
     font-size: 40px;
     font-weight: 700;
     margin-left: -24%;
 }
 
 nav a {
     margin-right: 17px;
     font-weight: 700;
     font-size: 18px;
 }
 
 .home {
     color: rgb(125, 205, 195);
 }
 /*---------------------------- main------------------------------- */
 
 .begin {
     background: url("../banner.jpg");
     height: 700px;
     background-repeat: no-repeat;
 }
 
 .begin_child {
     background: rgba(17, 9, 4, 0.822);
     height: 100%;
     padding-top: 90px;
     text-align: center;
 }
 
 .circle_1 {
     margin: 5px auto;
     height: 6px;
     background-color: white;
     border-radius: 50%;
     width: 6px;
 }
 
 .begin h2 {
     color: white;
     font-size: 35px;
 }
 
 .circle_2 {
     margin: 5px auto;
     height: 10px;
     background-color: white;
     border-radius: 50%;
     width: 10px;
 }
 
 .begin p {
     color: white;
     font-size: 20px;
     padding: 20px 0;
 }
 
 .begin_child i {
     color: white;
     font-size: 13px;
     background-color: rgb(105, 198, 186);
     width: 30px;
     height: 30px;
     border-radius: 50%;
     line-height: 2.5;
 }
 
 .box {
     background-color: rgb(245, 245, 245);
     height: 200px;
     width: 900px;
     color: black;
     text-align: center;
     margin: 80px auto;
     display: flex;
 }
 
 .box_child {
     width: 50%;
     padding: 20px;
 }
 
 .box_child_2 legend,
 .box_child_2 input {
     text-align: center;
 }
 
 .box_child_2 input {
     margin-top: 13px;
 }
 
 .box-child-butn button {
     color: white;
     background-color: rgb(105, 198, 186);
     padding: 3% 33%;
     border: none;
 }
 
 .box-child-butn {
     padding-top: 60px;
 }
 
 fieldset input {
     border: none;
     background-color: transparent;
     width: 100%;
     outline: none;
 }
 
 fieldset legend {
     font-size: 14px;
     font-size: 700;
 }
 
 .box_child_1 {
     display: flex;
     flex-wrap: wrap;
     margin-top: 30px;
 }
 
 .box_child_2 {
     display: flex;
     font-size: small;
     text-align: left;
 }
 
 .box_child_1 div {
     width: 40%;
 }
 
 .destination {
     text-align: left;
     padding: 20px;
 }
 
 .journey {
     background-color: rgb(245, 245, 245);
     text-align: center;
     height: 270px;
 }
 
 .journey h2 {
     color: black;
     font-size: 32px;
     padding: 30px 0;
 }
 
 .journey p {
     padding: 0 0 30px 0;
 }
 
 .journey button {
     background-color: rgb(105, 198, 186);
     color: white;
     font-size: 15px;
     border: 1px solid rgb(105, 198, 186);
     padding: 10px 20px;
 }
 
 .about_blog {
     background-color: rgb(105, 198, 186);
     color: white;
     padding: 40px 60px;
     margin-left: -60px;
     margin-right: 50px;
 }
 
 .journey_blog img {
     width: 50%;
 }
 
 .journey_blog {
     background: white;
 }
 
 .about_blog h2 {
     font-size: 33px;
     padding: 20px 0;
 }
 
 .about_blog p {
     padding-bottom: 20px;
 }
 
 .about_blog button {
     color: rgb(105, 198, 186);
     background-color: white;
     border: 1px solid white;
     font-size: 15px;
     padding: 10px 15px;
 }
 
 .about_blog2 {
     background-color: rgb(198, 105, 149);
     color: white;
     padding: 40px 60px;
     margin-right: -60px;
     margin-left: 50px;
     z-index: 0;
 }
 
 .about_blog2 h2 {
     font-size: 33px;
     padding: 20px 0;
 }
 
 .about_blog2 p {
     padding-bottom: 20px;
 }
 
 .about_blog2 button {
     color: rgb(198, 105, 149);
     background-color: white;
     border: 1px solid white;
     font-size: 15px;
     padding: 10px 15px;
 }
 
 .country {
     background: rgb(105, 198, 186);
 }
 
 .country img {
     padding: 20px 20px;
 }
 
 .country .pink {
     background-color: rgb(198, 105, 149);
     padding: 20px 20px;
 }
 
 .money {
     display: flex;
     padding: 5% 11% 0% 11%;
     background-color: white;
 }
 
 .money h3 {
     font-size: 20px;
     font-weight: 700;
 }
 
 .money div {
     padding: 20px 20px;
     border-top: 2px solid rgb(251, 251, 251);
     border-bottom: 2px solid rgb(251, 251, 251);
 }
 
 .money h6 {
     color: rgb(198, 105, 149);
     padding: 5px 0;
 }
 
 .money p {
     color: gray;
 }
 
 .money_button {
     color: white;
     background-color: rgb(105, 198, 186);
     border: none;
     padding: .8% 5%;
     text-align: left;
 }
 
 .money_btn {
     text-align: center;
 }
 
 .money_tag_wrapper {
     background-color: rgb(105, 198, 186);
     color: white;
     display: flex;
     width: 37%;
     height: 170px;
 }
 
 .money_tag {
     text-align: center;
     margin: 45px auto 0 auto;
     font-size: 15px;
     font-weight: 600;
     line-height: 1.8;
 }
 
 .money img {
     width: 22%;
 }
 /*-------------------- copied from stack over flow ---------------------------*/
 
 input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button {
     opacity: 1;
 }
 
 .money button {
     margin: -40px auto 50px auto;
 }
 
 .price {
     font-size: x-large;
 }
 
 .map {
     position: relative;
     height: 550px;
 }
 
 .map iframe {
     position: absolute;
     opacity: .8;
 }
 
 .map_form {
     height: 380px;
     width: 470px;
     background-color: white;
     position: absolute;
     top: 80px;
     right: 80px;
 }
 
 .map_form {
     padding: 20px 15px;
 }
 
 .map_form input {
     width: 49%;
     background-color: rgb(245, 245, 245);
     border: none;
     padding: 15px 10px;
 }
 
 #subject {
     width: 99%;
     margin-top: 20px;
 }
 
 textarea {
     height: 170px;
     width: 99%;
     margin-top: 20px;
     background-color: rgb(245, 245, 245);
     border: none;
     padding: 15px 10px;
 }
 
 .map_form button {
     color: white;
     background: rgb(105, 198, 186);
     border: none;
     padding: 10px 20px;
     width: 99%;
 }
 
 .footer {
     color: white;
     background-color: rgb(105, 198, 186);
     padding: 20px 30px;
     text-align: center;
     position: static;
 }